.chip {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.date, .year, .rpg {
    width: auto;
    height: auto;
    padding: 3px 10px;
    border-radius: 62px;
    background: #FFF;
    color: #515151;
    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0px 0px;
}

.highlight {
    color: #36B972;
    font-weight: bold;
    margin-right: 5px;
}

.date.dark-mode{
    background: #FFFFFF;
    color: #515151;
}
 
.date.light-mode{
    background: #309F63;
    color: #515151;
}