.checkbox1{
    width: 159px;
    height: 147px;
    top:1394px;
    left: 2599px;
    color: rgba(81, 81, 81, 1);
    
}
.checkbox2{
    width: 159px;
    height: 147px;
    top:1394px;
    left: 2599px;
    color: rgb(254, 252, 252);
}