.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.gameDetailsContainer {
  color: white;
  z-index: 10;
  border-radius: 24px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  width: 1076px;
  height: 793px;
  background: #303030;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  overflow: hidden;
}

#gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(48, 48, 48, 0.8) 0%, rgba(48, 48, 48, 0.8) 60%, #303030 60%, #303030 100%);
  pointer-events: none;
}


.transparent {
  background-color: transparent;
  border: none;
}

#titleComponents{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

#chipsContainer{
  display: flex;
  flex-direction: row;
  gap: 5%;
  z-index: 1;
}

#bottomContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  z-index: 1;
}
#bottomRight{
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 45%;
}
#bottomLeft{
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 55%;
}

#descriptionContainer{
  width: 60%;
  text-align: left;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

#descriptionContainer p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}


#buttonsContainer{
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  gap: 5%;
  z-index: 1;
}

#miscInfoContainer{
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-end;
  z-index: 1;
} 
.gameScreenshot{
  width: 184px;
  height: 104px;
  top: 634px;
  left: 842px;
  gap: 0px;
  opacity: 0px;

}