.modal1{
    width: 697px;
    height: 538px;
    top:3113px;
    left:2446px;
    color: white;
}
.modal2{
    width: 697px;
    height: 538px;
    top:3113px;
    left:2446px;
    color:rgba(81, 81, 81, 1);;
}
