:root {
  --primary-light-green: #5FE19B;
  --primary-super-green: #4CC986;
  --secondary-cool-iris: #5F81FB;
  --secondary-lapis-lazuli: #1245C9;
  --secondary-deep-blue: #06207B;
  --secondary-coral-reef: #FB5F5F;
  --secondary-hey-honey: #FFDC22;
  --neutrals-black: #151515;
  --neutrals-dark-gray: #303030;
  --neutrals-medium-gray: #515151;
  --neutrals-light-gray: #939393;
  --neutrals-white: #FFFFFF;
}

/*Dark mode*/

.exo-dark-mode-h1 {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 63.79px;
  color: white; 
}

.exo-dark-mode-h2 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.53px;
  color: white; 
}

.exo-dark-mode-h3 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.58px;
  color: white; 
}

.exo-dark-mode-h3-link {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.58px;
  color: #5FE19B; 
}

.exo-dark-mode-h4 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.92px;
  color: white; 
}

.exo-dark-mode-h5 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.26px;
  color: white; 
}

.exo-dark-mode-h5-underline {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.26px;
  color: white; 
}

.exo-dark-mode-h5-light-gray {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 63.79px;
  color: #939393;
}

.exo-dark-mode-h6 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.61px;
  color: white; 
}

.exo-dark-mode-h6-light-gray {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.61px;
  color: #939393;
}

.exo-dark-mode-h6-link {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.61px;
  color: #5FE19B; 
}

/*Light mode*/

.exo-light-mode-h1 {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 63.79px;
  color: #515151; 
}

.exo-light-mode-h2 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.53px;
  color: #515151; 
}

.exo-light-mode-h3 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.58px;
  color: #515151; 
}

.exo-light-mode-h3-link {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.58px;
  color: #4CC986; 
}

.exo-light-mode-h4 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.92px;
  color: #515151; 
}

.exo-light-mode-h5 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.26px;
  color: #515151; 
}

.exo-light-mode-h5-underline {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.26px;
  color: #515151; 
}

.exo-light-mode-h5-light-gray {
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 63.79px;
  color: #939393;
}

.exo-light-mode-h6 {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.61px;
  color: #515151; 
}

.exo-light-mode-h6-light-gray {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.61px;
  color: #939393;
}

.exo-light-mode-h6-link {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.61px;
  color: #4CC986; 
}

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
