.button{
    display: inline-flex;
    height: 31px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1A45DF;
}
.bodyMenuOptions{
    background: #151515;
    color: #FFFFFF;
    border: none;
    justify-content: flex-start;
}
.bodyMenuTitle{
    background: #151515;
    color: #FFFFFF;
    border: none;
    justify-content: flex-start;
}