.SearchBar {
    width: 362px;
    height: 47px;
    top: 5755px;
    left: 2439px;
    background-color: #FFFFFF;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 63.79px;
    color: #939393;
}

#id {
    width: 362px;
    height: 47px;
    top: 5755px;
    left: 2439px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.26px;
    color: #515151;
}