.cardContainer{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #303030;
}
.cardInnerTitleContainerSmall{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardInnerInfoContainerSmall{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardInnerInfoContainerTextSmall{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    /* esto tiene que estar alineado a la izquierda y release date y genre tienen que estar alineados*/
}

.cardInnerInfoContainerIconsSmall{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2vw;
    /* esto tiene que estar alineado a la derecha*/
}
.cardInnerTitleContainerBig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}
.cardInnerInfoContainerTextBig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}
.icons{
    margin-left: auto;
}
.cardGameDisplay{
    width: 363px;
    height: 179px;
    flex-shrink: 0;
    border-radius: 12px;
    /* esto tiene que estar "estirado" */
}
.cardGameTitle{
    width: 293px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Exo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cardGameNumber{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    color: #36B972;
    text-align: right;
    font-family: Exo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}