.cardContainer{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #303030;
    padding-bottom: 15px;
}
.cardInnerTitleContainerSmall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 18px;
}
.cardInnerInfoContainerSmall{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardInnerBottomContainerSmall{
   display: flex;
   flex-direction: column;
    /* esto tiene que estar alineado a la izquierda y release date y genre tienen que estar alineados*/
}
.cardInnerBottomUpperSmall{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.61px;
    text-align: left;
}
.cardInnerBottomLowerSmall{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -15px;
    margin-left: 19px;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.61px;
    text-align: left;
}
#releaseDate, #genre{
    color: #939393;
    text-align: left;
}
#tags{
    margin-left: 4px;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.cardInnerInfoContainerIconsSmall{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2vw;
    /* esto tiene que estar alineado a la derecha*/
}
.cardInnerTitleContainerBig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}
.cardInnerInfoContainerTextBig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}
.icons{
    margin-left: auto;
}
.cardGameDisplay{
    width: 363px;
    height: 179px;
    flex-shrink: 0;
    border-radius: 12px 12px 0 0;
    /* esto tiene que estar "estirado" */
}
.cardGameTitle{
    width: 293px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Exo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cardGameNumber{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    color: #36B972;
    text-align: right;
    font-family: Exo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#windows{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#psn{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#xbox{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#switch{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px; 
}