.cardContainer{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 314px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #303030;
    padding-bottom: 15px;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
}

.cardContainer.dark-mode{
   background: #303030;
   color: #FFFFFF;
}

.cardContainer.light-mode{
    background: #FFFFFF;
    color: #151515;
}

.cardInnerTitleContainerSmall{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardInnerInfoContainerSmall{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardInnerBottomContainerSmall{
   display: flex;
   flex-direction: column;
    /* esto tiene que estar alineado a la izquierda y release date y genre tienen que estar alineados*/
}

.cardInnerBottomUpperSmall{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.61px;
    text-align: left;
}

.cardInnerBottomLowerSmall {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -15px;
    margin-left: 30px;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.61px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
}

.cardInnerBottomLowerSmall > * {
    margin-right: 30px; 
}


#releaseDate, #genre{
    color: #939393;
    text-align: left;
}

#tags{
    margin-left: 4px;
    justify-self: center;
}

.iconsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.cardInnerInfoContainerIconsSmall{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2vw;
    /* esto tiene que estar alineado a la derecha*/
}

.icons{
    margin-left: auto;
}

.cardGameDisplay{
    width: 363px;
    height: 179px;
    flex-shrink: 0;
    border-radius: 12px 12px 0 0;
    /* esto tiene que estar "estirado" */
}
.cardGameTitle{
    width: 290px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Exo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin: 20px 0px 0px 23px;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: flex;
    text-align: left; 
    justify-content: flex-start; 
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1; 
}

.cardGameTitle.dark-mode {
    color: #FFF;
}

.cardGameTitle.light-mode {
    color: #151515;
}

.cardGameNumber{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    color: #36B972;
    text-align: right;
    font-family: Exo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px 0px 5px 15px;
    text-align: left;
}

#windows{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#psn{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#xbox{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px;   
}
#switch{
    width: 16px;
    height: 16px;
    top: 246px;
    left: 247px;
    padding: 1px 0px 1.87px 0px;
    gap: 0px;
    opacity: 0px; 
}

/*Big Card*/

.cardInnerInfoContainerBodyBig {
    width: 665px;
    height: 76px;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
}

.description {
    padding: 0px 10px 2px 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4; 
    line-height: 1.5; 
}

.cardInnerInfoContainerTextBig {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.61px;
    text-align: left;
    padding: 1px; 
}

.cardGameDisplayBig {
    width: 697px;
    height: 315px;
    border-radius: 12px 12px 0 0;
    object-fit: cover; 
    margin: 0; 
    padding: 0;
}

.cardContainerBig{
    display: flex;
    flex-direction: column;
    width: 697px;
    height: 538px;
    border-radius: 12px;
    background: #303030;
    /*padding-bottom: 15px;*/
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
    overflow: hidden;
    margin: 0; 
    padding: 0;
    align-items: center;
}

.cardContainerBig.dark-mode{
    background: #303030;
    color: #FFFFFF;
 }
 
.cardContainerBig.light-mode{
    background: #FFFFFF;
    color: #151515;
}

.cardInnerTitleContainerBig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 33px;
    font-family: Exo;
    font-size: 32px;
    line-height: 42.53px;
    text-align: left;
    margin: 20px 10px 0 10px; 
}

.cardGameTitleBig {
    font-size: 32px;
    margin: 10px 0px 5px 27px;
}

.cardGameNumberBig {
    font-size: 32px;
    margin: 10px 25px 5px 0px;
    color: #36B972;
}

.dateBig, .genreBig, .iconsBig {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-around;
}

.dateBig {
    display: flex;
    flex-direction: row; 
    gap: 5px; 
    padding: 10px 5px 5px 10px;
}

.genreBig {
    display: flex;
    flex-direction: row; 
    gap: 5px;
    padding: 10px 5px 5px 10px;
}

.iconsBig {
    display: flex;
    flex-direction: row; 
    gap: 5px;
    margin-left: auto;
    padding: 10px;
}