

#catalogWrapper {
    background: #151515;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure it takes the full viewport height */
    width: 100vw;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
}

#catalogWrapper.light-mode {
    background: #F0F0F0;
    color: #151515;
}

#catalogWrapper.dark-mode {
    background: #151515;
    color: #FFFFFF;
}

#catalogMenuWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    box-shadow: 1px -3px 36px 0px #00000080;
    padding: 10px;
    align-items: center;
}

#logOut {
    display: flex;
    justify-content: space-around;
}

#searchBar {
    margin-left: auto;
    margin-right: auto;
    width: 362px;
    height: 47px;
}

#catalogBodyUpper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-shrink: 0;
}

#catalogBodyLower {
    display: flex;
    flex: 1;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
}

#catalogBodyLower.dark-mode {
    background: #151515;
    color: #FFFFFF;
}

#catalogBodyLower.light-mode {
    background: #F0F0F0;
    color: #151515;
}

#catalogBodyLowerMenu {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: sticky;
    top: 0;
    height: 100%;
     /* Ensure background color matches */
    padding: 20px;
    flex-shrink: 0;
    justify-content: flex-start;
}

#catalogBodyLowerContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    padding-top: 20px;
    flex: 1;
    overflow-y: auto;
    margin-right: -20px;
} /* arreglar bottom padding/gap */

#gameFinderLogo {
    width: 293px;
    height: 60px;
    opacity: 1;
}

#titleLarge {
    font-family: Exo;
    font-size: 48px;
    font-weight: 800;
    line-height: 63.79px;
    text-align: left;
}

#titleSmall {
    font-family: Exo;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.92px;
    text-align: left;
}

#darkModeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
#darkModeText{
    display: flex;
    width: 86px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.bodyMenuTitle {
    font-family: Exo;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.58px;
    text-align: left;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
}

.bodyMenuOptions {
    font-family: Exo;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.92px;
    text-align: left;
    justify-content: flex-start;
    transition: background-color 0.5s, color 0.5s; /* Esto es para hacer una transición fluida */
}

.bodyMenuTitle.dark-mode {
    background: #151515;
    color: #FFFFFF;
}

.bodyMenuTitle.light-mode {
    background: #F0F0F0;
    color: #151515;
}

.bodyMenuOptions.dark-mode {
    background: #151515;
    color: #FFFFFF;
}

.bodyMenuOptions.light-mode {
    background: #F0F0F0;
    color: #151515;
}

.catalogBodyLowerMenuTitle{
    font-family: Exo;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.24px;
    text-align: left;
    justify-content: flex-start;
    padding-left: 7%;
}
.transparent{
    background-color: transparent;
    border: none;
}